{% extends 'base.html.twig' %}

{% block body %}
    <h1>Citas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idreceptor</th>
                <th>Fecha</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for citum in citas %}
            <tr>
                <td><a href="{{ path('cita_show', { 'id': citas.id }) }}">{{ citas.id }}</a></td>
                <td>{{ citas.idReceptor }}</td>
                <td>{% if citas.fecha %}{{ citas.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ citas.direccion }}</td>
                <td>{{ citas.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cita_show', { 'id': citas.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cita_edit', { 'id': cita.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cita_new') }}">Create a new citum</a>
        </li>
    </ul>
{% endblock %}
