{% extends 'layout.html.twig' %}
{% block title %}BuhoDate | ESFOT {% endblock %}
{% block body %}
<div class="contenidoBusqueda">
    <div class="row" id="menu">
        <div class=" col col-lg-5 col-md-2 col-sm-20">
            <img class="logo" src="{{ asset('image/logo1.png') }}" alt="logo buho">
        </div>
    </div>
    <h1>Busqueda de citas</h1>
    <h1>¿Que estas buscando?</h1>
    <table>
        <tbody>
        <tr>
            <td width="30%">
                <input type="radio" name="buscar" value="Hombre" onclick="location.href='{{ path('buscar_usuarioS', { 'sexo': 'M' }) }}'">Hombres
            </td>
            <td width="30%">
                <input type="radio" name="buscar" value="Mujeres" onclick="location.href='{{ path('buscar_usuarioS', { 'sexo': 'F' }) }}'">  Mujeres
            </td>
        </tr>
    </table>

    <div class="col-xl-8">
        <div class="table">
            <table>
                <tbody border="2">
                {% for usuario in usuarios %}
                    <tr>
                        <td width="30%">
                            Ira la foto
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a>
                        </td>
                        <td width="50%">{{ usuario.alias }}
                            <br>
                            {{ usuario.carrera }}
                            <p>{{ usuario.descripcion }}</p>

                        </td>
                        <td width="3%">
                            <p>


                            </p>
                            <input class="boton3" type="submit" onclick="location.href='{{ path('usuario_show', { 'id': usuario.id }) }}'" value="Mirar perfil">
                        </td>
                        <td width="3%">
                            <p>


                            </p>
                            <input class="boton3" type="submit" src="{{ path('usuario_show', { 'id': usuario.id }) }}" value="Solicitar Cita">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
