{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ usuario.mail }}</td>
            </tr>
            <tr>
                <th>Pass</th>
                <td>{{ usuario.pass }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ usuario.alias }}</td>
            </tr>
            <tr>
                <th>Fono</th>
                <td>{{ usuario.fono }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ usuario.sexo }}</td>
            </tr>
            <tr>
                <th>Fnaci</th>
                <td>{% if usuario.fnaci %}{{ usuario.fnaci|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ usuario.pais }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ usuario.provincia }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ usuario.ciudad }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ usuario.direccion }}</td>
            </tr>
            <tr>
                <th>Carrera</th>
                <td>{{ usuario.carrera }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ usuario.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ usuario.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
