{% extends 'menu.html.twig' %}

{% block title %}AppBundle:Notificacion:crear{% endblock %}

{% block body %}
<h1>Notificaciones</h1>

<br>
    <div class="table">
        <table>
            <tbody border="2">

            {% for cita in citas %}
            <tr>
                <td width="70cm">
                    <h2>
                    Le han solicitado una cita el usuario <a href="{{ path('usuario_perfil', { 'id': cita.usuarios.id }) }}'">{{ cita.usuarios }}</a> el dia
                    {% if cita.fecha %}{{ cita.fecha|date('d-m-Y') }}{% endif %}
                     en {{ cita.direccion }}
                    </h2>
                </td>
                <td width="3%">
                    <input  type="submit"  value="Aceptar" class="boton3"  onclick="location.href='{{ path('cita_aceptada', { 'id': cita.id }) }}'">
                </td>
                <td width="3%">
                    <input type="submit" value="Rechazar" class="boton3" onclick="location.href='{{ path('cita_rechazada', { 'id': cita.id }) }}'">
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>


        <table>
            <tbody border="2">
            {% for cita in citasEstado %}
            <tr>
                <td width="50%">
                    <h2>
                    Tu cita con el usuario <a href="{{ path('usuario_perfil', { 'id': cita.usuarios.id }) }}'">{{  cita.idReceptor }}</a> esta {{ cita.estado }}
                    </h2>
                </td>
                <td width="3%">
                    {% if cita.estado == 'Aceptada' %}
                    <input  type="submit" class="boton3"  value="Ver perfil" onclick="location.href='{{ path('usuario_perfil', { 'id': cita.usuarios.id }) }}'">
                    {% endif %}
                </td>
                <td width="3%">
                </td>
                <td width="3%">
                </td>

            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

        {% endblock %}
